*{
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    font-family: 'Roboto';
}

header{
    color: white;
    line-height: 1.5;
}

h1,h2,h3,h4{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    color: gray;
}

footer{
    text-align: center;
    padding: 5%;
}

/* section navl */
.container-nav{
    background-color: #1a1e22;
    height: 70px;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    text-decoration: none;
    color: #d8d2cc;
}

.nav-logo{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 3%;
    line-height: 70px;
    width: max-content;
}

.nav-menu{
    display: flex;
    margin-right: 3%;
    list-style: none;
}

.nav-menu-items{
    font-size: 1.2rem;
    margin: 0 10px;
    line-height: 70px;
    width: max-content;
}

.nav-menu-links{
    padding: 3% 4%;
    border-radius: 3%;
}

.nav-menu-links:hover{
    background-color: #272d33;
    transition: .5s;
}

.nav-toggle{
    color: #d8d2cc;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 0 4%;
    line-height: 50px;
    display: none;
}

/* Section title */

#title{
    background-color: #1A374D;
}

.container-header{
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("images/background.jpg");
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    padding-top: 10%;   
}
.container-header span{
    display: block;
    padding-bottom: 5%;
}

.big-title{

    font-family: 'Roboto', sans-serif;
    font-size: 4.5rem;
    font-weight: bold; 
}

#title-dinamic{
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    margin-bottom: 10%;

}

.button-slide:hover{
    color: white;
    opacity: 0.75;
    transition: .3s;
}

/* Section skills and tools */

#skills-tools{
    background-color: white;
    padding: 5% 15%;
    text-align: center;
}

.container-flex{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
}
.skill-container{
    flex-grow: 1;
    width: 300px;
    border-radius: 3px;
    margin-top: 5%;
}

#skills-tools h3{
    padding-top: 3%;
    font-size: 3rem;
    font-weight: bold;

}

.custom-logo{
    padding:5% 0;
}


/* Section Projects */
#projects{
    background-color: #1a1e22;
    padding: 5% 10%;
    text-align: center;
    color: white;
}

#projects h3,p{
   padding: 30px 0;
}

.card{
    flex-grow: 1;
    background-color: white;
    width: 200px;
    min-height: auto;
    padding: 3%;
    margin: 5% 0 0;
    color: #494e54;
    border-radius: 10px;
}
#projects .big-title{
    color: white;
}
#projects img{
    width: 100%;
    box-shadow: 0 20px 10px rgba(0, 0, 0,0.2);
}



/* footer Section */
#footer-section{
    color: gray;
    display: block;
    font-size: 130%;
    text-align: center;
    line-height: 1.5;
}
.footer-me-image{
    border-radius: 100%;
    width: 150px;
}
.icon-footer{
    display: inline-block;
    margin: 0 10px;
    color: #1A374D;
}

@media screen and (max-width: 768px){
    .big-title{
        margin: 60px 0 0 0;
    }
    .container-nav{
        position: fixed;
        min-width: 100%;
        background-color: #1a1e22;
        height: 60px;
    }
    .nav-logo{
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0 2%;
        line-height: 60px;
        width: max-content;
    }
    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        margin-right: 2%;
        background-color: #494e54;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 2% 0; 
        overflow-y: auto; 
        left:100%;
        transition:  0.3s;
    }
    .nav-menu-items{
        font-size: 1rem;
        line-height: 60px;
    }
    .nav-menu-links:hover,
    .nav-menu-link_active{
        background: none;
        color: #1a1e22;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left:0;
    }

}
